<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Python Interpreter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"></script>
    <script src="/static/js/main.js" defer></script>
    <link rel="stylesheet" href="https://codemirror.net/5/theme/dracula.css">
</head>
<body>
    <h1>Paul PythonBox</h1>
    <div id="tab-container"></div>
    <button id="createButton">+</button>
    <div id="editor-container">
        <textarea id="editor"></textarea>
    </div>
    <button onclick="executeCode()">Exécuter</button>
    <button id="saveButton">Sauvegarder</button>
    <div id="output-container">
        <pre id="output"></pre>
    </div>
</body>
</html>
